
//* SCSS dedicado a Fuentes utilizadas. 


* {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 12px;
    
  }
  

 