// Partial utilizado para estilos en las pages

// estilos para los banners
.banner-pages{
  @extend .banner; 

  height: 100%;
width: 100%;

}


/*  estilos para las redacciones que van en las pages */
.redaction {
    justify-content: right;
    text-decoration: underline;
  }


/*   page contacto */
/* un poco de margin para el map de la page de contacto */
#maps {
    margin: 20px;
  }
   
section.maps{
  background-image:$gradient;
}



/* esto le agrega un espacio entre el formulario y el footer para que se vea mejor */


// colores para los textos de form

.pre-map-text{
  padding-top: 10px;
  margin: 20px 20px 10px 20px;
}

.pre-form-text{
  padding-bottom: 10px;
}

form.container{
  color: white;
  margin-bottom: 40px;
}

label{
  color: white;
}
  /* esto le agrega estilos al form de la pagina de contactos */
.form {
    padding-bottom: 20px;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    background-color: #000;
     
  }


  // esto hace que los textos añadidos al form de contacto sean de color blanco
  .form-text{
    color: white;
  }

  /* esto modifica el boton de enviar en el form de la pagina de contactos para que el estilo sea igual al de la página */
.btn-color {
    background-color: $primary-color;
  
  .btn-color:hover {
    background-color: #b69b01;
  }
  
  .btn-color:active {
    background-color: $primary-color;
  }
}  
  /* fin btn-contacto */
  // fin de contacto//

  /* tamaño de fuente para los parrafos dentro de span */
span p {
    font-size: 10px;
  }

  /* esto coloca los creditos de las fotografias en negrita */
.credits {
    font-weight: bold;
    justify-content: left;
    margin: 5px 5px 20px 5px;
    padding: 13px;
    display: inline-flex;
    background-image: $gradient;
    color: gray;
  }
  
  .redaction {
    
    justify-content: left;
    text-decoration: underline;
  }